html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  /* background-color: red; */
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}
.menu_inline {
  list-style: none;
}
.menu_inline li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
.menu_inline li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

header {
  background-color: white;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 80px;
  background-color: white;
}
.header_logo {
  vertical-align: middle;
}
.header_menu li{
  text-align: left;
  margin-right: 25px;
}
.header_menu_lang li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}
.ico_hamburger {
  float: right;
  font-size: 3.7em;
  line-height: 80px;
  vertical-align: middle;
}

.lg_display_none {
  display: none;
}
.lg_display_block {
  display: block;
}

.jumbo {
  position: relative;
  height: 400px;
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
}
.jumbo_text h1 {
  font-size: 4em;
  margin-bottom: 0.8rem;
}
.jumbo_text p {
  font-size: 1.5em;
  margin-bottom: 0.8rem;
}


/* Main-container-fluid */
.container-fluid{
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  padding-bottom: 80px;
}


.promo_left,
.promo_right{
  float: left;
  height: 600px;
  width: 48%;
  background-color: #FAFAFA;
}

.promo_left{
  margin-right: 4%;
}

.logo_helbiz{
  height: 20px;
}

.promo_text{
  padding-top: 50px;
  text-align: center;
}

.promo_left h2,
.promo_right h2{
  padding: 15px;
}

.font-size_20{
  font-size: 20px;
  font-weight: normal;
}

.learn_more{
  text-decoration: none;
  color: #0271C8;
}

.promo_image{
  text-align: center;
  padding: 30px 0;
}

.promo_image img{
  max-height: 400px;
  max-width: 100%;
  /* text-align: center; */
  /* object-fit: contain; */
}

/* Main-container-banner */
.container-banner{
  /* width: 90%; */
  height: 500px;
  background-image: url(../img/HelbizBanner.jpg);
  background-size: cover;
  background-position: center;
  background-position: 20%;
  background-repeat: no-repeat;

}

.container-info{
  height: 300px;
  /* background-color: lightgreen; */
}

.position_relative{
  position: relative;
}

.position_absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[class*="col-"] {
  /* border: 1px solid black; */
}

.container-info h2,
.container-info h3{
  font-size: 30px;
  text-align: center;
}

.container-info ul li{
  /* list-style: none; */
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

.phone{
  height: 600px;
}

.phone-box{
  height: 100%;
  background-image: url(../img/iphone.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20%;
}




@media screen and (max-width: 992px) and (min-width: 768px) {
  .header-top {
    padding: 0 2%;
  }
  .md_display_block {
    display: block;
  }
  .md_display_none {
    display: none;
  }
  .jumbo_text a {
    width: calc(100% / 4);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }
  .promo_image img{
    max-height: 380px;
  }

  .container-fluid{
    width: 80%;
    margin: 0 auto;
  }

  .phone-box{
    margin-top: 25%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
  .xs_display_block {
    display: block;
  }
  .xs_display_none {
    display: none;
  }
  .header-top {
    padding: 0 2%;
  }
  .jumbo_text h1 {
    font-size: 3.5em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text p {
    font-size: 2em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text a {
    width: calc(100% / 5);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }
  .col-xs-12{
    width: 100%;
  }
  .promo_image{
    padding: 20px 0;
  }
  .phone-box{
    margin-top: 35%;
  }

}
